.navbar{
    background-color:rgb(67, 67, 151);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.navbar a h1,.navbar a h4{
    margin-left: 200px;
}
.log-reg{
    display: flex;
}
.log-reg a h2{
    margin-right: 100px;
}