.navbar{
    background-color:rgb(67, 67, 151);
   
}

.navbar a{
    text-decoration: none;
    color: white;
    margin-right: 100px;
}

.navbar a h1{
    margin-left: 100px;
}
.log-reg{
    display: flex;
}
.log-reg a h2{
    margin-right: 100px;
}