.project-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
   
}
.project-form form{
    border: 1px solid lightgray;
    padding: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.project-form form input{
    padding: 8px;
    margin: 5px 5px  15px 0px;
    width: 300px;

}
.project-form form textarea{
    padding: 8px;
    margin: 5px 5px  15px 0px;
    width: 300px;
    height: 100px;
}
.project-form form label{
   margin-bottom: 5px;
   font-weight: bold;
    color: gray;
}
.project-form form select{
    padding: 8px;
}
.project-form form button{
    background-color: lightblue;
    border: none;
    padding: 10px 0;
    margin-top: 50px;
    font-size: 15px;
}

