.task-form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}
.task-form form{
    border: 1px lightgrey solid;
    padding: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.task-form form input{
    padding: 5px;
    margin: 5px 0px;
}
.task-form form label{
    font-weight: bold;
    color: gray;
}
.task-form form button{
    background-color: rgb(255, 145, 0);
    border: none;
    padding: 10px 0px;
    margin-top: 50px;
    font-size: 15px;
}